

* {
     font-family: 'NanumSquare';
    /*font-family: 'Black Han Sans', sans-serif;*/
}


/*<!--header-->*/
.header {
    background-color: #FFAD60;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    width: 300px;
    height: 100%;
    padding: 20px 0px 20px 0px;
    text-decoration: none;
    color: whitesmoke;
    margin-left: 40px;
}

.header_logo a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    color: white;
    margin: 0px 0px 0px 10px;
    font-family: 'Black Han Sans', sans-serif;
}

.header_inputBox {
    display: inline-block;
    text-align: right;
    justify-content: space-between;
    width: 300px;
    padding: 30px;
}

.header_inputBox .textGoing:hover {
    background-color: #B3541E;;
    width: 110px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
}

.header_inputBox .textGoing {
    font-size: 30px;
    text-decoration: none;
    color: whitesmoke;
    width: 100px;
    text-align: center;
    margin-top: 10px;
}

.header_inputBox .logOut {
    display: inline-block;
    height: 50px;
    width: 100px;
    border:1px solid #ffae00;
    border-radius: 5px;
    background:#fff;
	color:#ffae00;
    font-weight: bold;
}

.header_inputBox .logOut:hover {
    background: #d5aa4d;
    color: #fff
}



/*.header_id_user {*/
/*    border: 4px solid whitesmoke;*/
/*    padding: 10px;*/
/*    color: white;*/
/*    border-radius: 6px;*/
/*    margin-top: 35px;*/
/*}*/

/*mainImage*/
.mainImage {

}

.bigText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 1px;
    font-size: 8vw;
    color: whitesmoke;
}

/*category*/
/*.tab_title {*/
/*    list-style: none;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    margin: 30px 0px 30px 0px;*/
/*}*/
/*.tab_title li {*/
/*    background-color: #FFAD60;*/
/*    color: whitesmoke;*/
/*    width: 100px;*/
/*    height: 30px;*/
/*    text-align: center;*/
/*    border-radius: 7px;*/
/*    padding-top: 5px;*/
/*    font-size: 17px;*/

/*}*/
/*.tab_title li:hover {*/
/*    background-color: #B3541E;*/
/*    border-radius: 7px;*/
/*    font-size: 18px;*/
/*    adding-bottom: 20px;*/
/*}*/

/*foodCard*/

.cardTable {
    width: 80%;
    margin:auto;
}

/*부모태그*/
.card_wrap{
    position: relative;
    margin: auto;
    width: 90%;
}

.title p {
    color: white;
    border: 1px solid #B3541E;
    border-radius: 10px;
    width: 40%;
    margin: auto;
    background-color: #B3541E;
    padding: 3px;
}

/*자식태그*/
.tab_cont {
    margin: 40px 30px 40px 0px;
    display: inline-block;
    text-align: center;

}
.cardForm {
    background-color: #FFF8F3;
    border-radius: 8px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-bottom: 20px;
}
.cardForm:hover {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}

.cardForm img {
    border-radius: 10px 10px 0px 0px;
}

.cardForm .title {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

/*.tab_cont div {*/
/*    display: none;*/
/*}*/

/*.tab_cont div {*/
/*    display: block;*/
/*}*/



.modal-body {
    margin: auto;
    border: hidden;
}

.modal-header {
    border: hidden;
}

.modal-footer {
    border: hidden;
}

.detail_img {
    background-color: green;

    width: 430px;
    height: 350px;

    color: white;

    text-align: center; /*텍스트 중간정렬*/

    background-image: url("https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg");
    /*이미지깔기*/
    background-size: cover;
    /*이미지크기를 커버정도로*/
    background-position: center;
    /*이미지를 가운데로*/

    border-radius: 10px;

    padding-top: 20px;
    /*안쪽으로 여백주기*/
    margin: 10px auto 10px;
}

.modal-title {
    display: inline;
}

.badge-info {
    margin: 5px;
}

.wrap {
    width: 430px;
    height: 300px;
    padding: 20px 50px 10px;
    margin: auto;
    border: gray solid;
    border-radius: 10px;
}

.table {
    width: 430px;
    margin: auto;
}

.th-1 {
    width: 100px;
}

.th-2 {
    width: 270px;
    text-align: center;
    word-break: keep-all; /*자동줄바꿈*/
}

/*floating*/

.floating {
    position: fixed;
    right: 45%;
    top: 85%;
    margin-right: -43%;
    text-align:center;
    width: 230px;
    background-color: white;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
}

.floating_id_user {
    margin-bottom: 5px;
    background-color: white;
}

.textGoing {
    display: inline-block;
    height: 50px;
    width: 180px;
    background:#ffae00;
    border:1px solid #ffae00;
    border-radius: 5px;
    color:#fff;
    font-weight: bold;
}

.textGoing:hover{
    /*마우스 오버했을때의 효과*/
	background:#fff;
	color:#ffae00;
	}
